
/* HEADER */
header {
    max-height: 113vh;
    height: 113vh;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 300px;
    height: 60px;
    font-weight: 300;
    background: var(--bgd-principal);
}
.logo {
    margin-top: 12px;
}
.img-logo {
    max-height: 60px;
    height: 60px;
}
.navigation .list {
    list-style: none;
    display: flex;
}
.link-list {
    text-decoration: none;
    color: var(--cor-link);
    padding-right: 25px;
    font-size: 18px;
    border-left: 1px solid black;
    padding-left: 10px;
}
.link-list:hover {
    border-left: 3px solid var(--bgd-secundario);
    font-size: 20px;
    color: var(--bgd-secundario);
    transition: 0.5s ease-in-out;
}
.bnt-header {
    padding: 10px 40px;
    background: none;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
.video video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.block {
    width: 400px;
    height: 300px;
    background: var(--bgd-principal);
    margin-left: 300px;
    padding: 20px;
    z-index: 2;
}
.h1-block {
    font-size: 39px
}
.pblock {
    font-size: 16px;
}
.esp-block {
    padding-bottom: 25px;
}
.bnt-block {
    padding: 10px 30px;
    background: var(--bgd-secundario);
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}
.bnt-block:hover {
    border: 1px solid var(--bgd-secundario);
    background: none;
    color: black;
    transition: 1s ease;
}