.main-sobre {
    padding: 70px 100px;
    background: var(--bgd-principal);
}
.title-principal {
    font-size: 48px;
    padding-bottom: 40px;
}
.text-principal {
    font-size: 26px;
    text-align: justify;
    margin-right: 500px;
}

.line {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    width: 100%;
    margin: 70px 0;
    height: 1px;
}
.sobre2 {
    display: flex;
}
.img-sobre2 {
    width: 100%;
    height: 490px;
    object-fit: cover;
    margin-right: 70px;
}
.text-secundario{
    font-size: 20px;
    max-width: 500px;
    margin-right: 150px;
}

.div-mission {
    background: var(--bgd-secundario);
}
.mission {
    padding: 100px 100px;
    color: var(--bgd-principal);
}
.h1-mission {
    font-size: 48px;
    font-family: 'Inter';
    padding-bottom: 20px;
}
.contain {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.text-mission {
    font-size: 30px;
    margin-left: 521px;
}
.paragrafo-mission {
    width: 500px;
    margin-right: 300px;
    font-size: 18px;
    text-align: justify;
}
.line-mission {
    display: flex;
    border-top: 1px solid var(--bgd-principal);
    margin: 30px 0;
}

.parceiros {
    padding: 50px 100px;
    background: var(--bgd-principal);
}
.title-parceiros {
    font-size: 48px;
    font-family: var(--font-secundario);
    font-weight: 400;
    padding-bottom: 50px;
}
.center-parceiros {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.parceiros-logo {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;

    display: flex;
}
.box {
    height: 150px;
    display: flex;
    align-items: center;
    border-left: 1px solid black;
}
.img-parceiros {
    width: 300px;
    max-height: 200px;
    object-fit: cover;
    padding: 0 50px;
}

.contato {
    padding: 70px 150px;
}
.contato2 {
    display: flex;
    justify-content: space-between;
}
.text-contato {
    width: 500px;
}
.text-contato h1 {
    font-size: 42px;
    padding-bottom: 30px;
}
.text-contato p {
    font-size: 18px;
    width: 400px;
}
label, input {
    display: block;
}
label {
    font-size: 18px;
    padding-top: 20px;
}
input {
    border: none;
    border-bottom: 1px solid black;
    width: 400px;
    padding: 20px 0;
    background: none;
    outline: none;
    font-size: 16px;
}

.bnt-contact {
    margin-top: 30px;
    padding: 20px 60px;
    border-radius: 50px;
    border: none;
    background: var(--bgd-secundario);
    color: var(--bgd-principal);
    cursor: pointer;
}
.bnt-contact:hover {
    background: none;
    border: 1px solid var(--bgd-secundario);
    color: var(--bgd-secundario);
    transition: 2s ease-in;
}